@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strings API</title>
</head>
<body>
    <h2>View strings using these relative URLs</h2>
    <ul>
        <li>/api/strings</li>
        <li>/api/strings/id</li>
    </ul>
</body>
</html>